/********** Fixes **********/

* {
  margin:0;
  padding:0;
  border:0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

.clear {
  clear: both;
}

/* Positioning Classes */

.grid-container {
  display: grid;
  width: 100%;
  grid-template-areas:  "feat feat arch"
                        "feat feat arch"
                        "deal deal deal";
  grid-template-rows: 33%, 33%, 33%;
  grid-template-columns: 33%, 33%, 33%;
  grid-gap: 20px;
}

#shoe-featured {
  grid-area: feat;
}

#shoe-archive {
  grid-area: arch;
}

#shoe-deals {
  grid-area: deal;
  columns: 3 auto;
}

#details {
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
  columns: 3 auto;
}
