/********** Fixes **********/

* {
  margin:0;
  padding:0;
  border:0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

.clear {
  clear: both;
}

/* Positioning Classes */

.featuredBrand {
  float: left;
  width: 66%;
}

.archiveList {
  float: left;
  width: 32%;
}

.left {
    width: 33.33%;
    float: left;
    margin: 10px 0 0 0;
}
.middle {
  width: 33.33%;
  float: left;
  margin: 10px 0 0 0;
}

.right {
  width: 33.33%;
  float: left;
  margin: 10px 0 0 0;

}
